<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/header") %>
</head>

<body>
    <h1>This is about page</h1>
    <!-- <% %> for programming -->
    <!-- <%= %> for outputting -->
    <div>
        <% if(services.length> 0) { %>
            <h2>Services</h2>
            <ul>
                <% services.forEach(service=> { %>
                    <li>
                        <%= service %>
                    </li>
                    <% }) %>
            </ul>
            <% } else { %>
                <p>No services available</p>
                <% } %>
    </div>

    <h3>Contact: <%= contact.email %>
    </h3>

    <%- include("partials/footer") %>
        <script src="js/about.js"></script>
</body>

</html>